.header
   display: flex
   justify-content: space-between
   align-items: center
   height: 12rem
   margin-bottom: 4rem
   &__logo
      transform: translate(-1.9rem, 0)   
   &__img
      display: block
      width: 16rem
.nav
   &__list
      display: flex
      gap: 4rem