.intro
   display: flex
   margin-bottom: 9.3rem
   &__img
      height: 87.3rem
      border-radius: 1.2rem
   &__right-side
      padding: 29.4rem 6rem 0 6rem
   &__title
      margin-bottom: 9rem
   &__text
      font-size: 1.5rem
      line-height: 2.4rem
      margin-bottom: 1.6rem
   &__icons-group
      display: flex
      gap: 1.7rem

.icons-group
   &__link
      width: 3.2rem
      &:hover
         transform: translate(0, -.5rem)